* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.header {
  border-bottom-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 87px;
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

li {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 166px;
  gap: 112px;
}

img {
  width: 347.94px;
  height: 359px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-box {
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  padding: 11px;
}

.main-box {
  width: 370px;
}
.inside-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 13px;
}

.img-header {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.img-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.see-more {
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  display: inline;
  border-radius: 4px;
  padding: 4px 30px 4px 30px;
}

.see-more-div {
  margin-top: 23px;
  display: flex;
  justify-content: flex-end;
}

.header-for-pages {
  margin-top: 183px;
  margin-bottom: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 40px;
}

.contact-div {
  display: flex;
  flex-direction: column;
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: 175px;
  font-size: 25px;
}

.email {
  text-decoration: underline;
}

.about-box {
  display: flex;
  flex-direction: column;
  gap: 108px;
  margin-left: 175px;
  font-size: 25px;
  width: 775px;
}
